 <div class="fixed-bottom row" id="footer">
          <footer class= "mx-auto">
              <p class = "small">
                    <%= Time.now.year %> |
                    <a href="https://github.com/lovemercybiz" class="text-dark">Love Mercy</a>
              <p>
          </footer>
    </div>