   <main role="main" class="container  pt-3">
      <div class="jumbotron">
            <%= yield %>
                  <button type="button" class="btn btn-primary btn-lg mt-2">Sign up now!</button>
          </div>
    </main>